*{
    padding: 0;
    margin: 0;
    list-style: none;
}
html,body{
    height: 100%;
}
.todobox{
    width: 400px;
    margin: 0 auto;
    height: 100vh;
    border: 1px solid gainsboro;
    box-sizing: border-box;
}
a{
    cursor: pointer;
}