*{
    margin: 0;
    padding: 0;
}
.parentele{
    width: 400px;
    margin: 0 auto;
}

.todobox{
    display: flex;
    display: -webkit-flex;
    height: 40px;
}

.todobox >a{
    display: block;
    height: 40px;
    flex: 1;
    line-height: 40px;
    color: grey;
    text-align: center;
    cursor: pointer;
}

.todobox >a:hover{
    background-color: #42ccff;
    color: white;
}

li{
    height: 35px;
    line-height: 35px;
    text-align: left;
    font-size: 16px;
    list-style: none;
    border-bottom: 1px solid gainsboro;
    cursor: pointer;
}

li:hover{
    background-color: aliceblue;
}